---
import { SiteMetadata } from '../config'
---

<div class="bg-gray-50 dark:bg-black">
  <div
    class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:items-center lg:justify-between"
  >
    <h2
      class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
    >
      <span class="block dark:text-white">Para cualquier duda</span>
      <span class="block dark:text-white">Contáctanos!</span>
    </h2>
    <div class="flex space-x-2 dark:text-white">
      <div>
        Av. de Santa Coloma, 126, AD500, <br />Andorra la Vella Andorra <br /> +376
        844 421 <br /> andorra@sommcasa.com
      </div>
      <div>
        C/ Química, 1 / Cantonada N-II 08740, <br /> Sant Andreu de la Barca Barcelona
        <br /> +34 936 825 686 <br /> santandreu@sommcasa.com
      </div>
      <div>
        C/ Rocafort, 135 08015, <br /> Barcelona ciutat Barcelona <br /> +34 937
        06 78 52 <br /> rocafort@sommcasa.com
      </div>
      <div>
        Av. del Congost, 9, 11 08760, <br /> Martorell Barcelona <br /> +34 937 736
        643 <br /> martorell@sommcasa.com
      </div>
    </div>
  </div>
</div>
