<div class="relative bg-white dark:bg-zinc-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div
      class="z-10 relative pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32 bg-white dark:bg-zinc-900"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-zinc-900 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>
      <main
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      >
        <div class="text-center sm:text-left">
          <h1
            class="text-4xl tracking-tight font-extrabold text-zinc-900 dark:text-gray-100 sm:text-5xl md:text-6xl text-left"
          >
            <span class="block xl:inline">
              La ilusi칩n de encontrar tu mueble ideal
            </span>
          </h1>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Sommcasa une la idea de hacer llegar el dise침o a todos los hogares,
            apostando por las mejores soluciones que nuestros clientes
            necesitan, con un gran producto y un buen precio. Descubre la tienda
            de muebles Sommcasa Andorra y Sommcasa Barcelona. Ofrecemos muebles
            de calidad, con los mejores acabados del mercado y grandes
            resultados. Adem치s, realizamos proyectos a medida para garantizar la
            m치xima funcionalidad de cada espacio de tu casa.
          </p>
        </div>
      </main>
    </div>
  </div>
  <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-purple-100 dark:bg-purple-500"
  >
    <img src="/background.jpg" alt="logo" />
  </div>
</div>
